@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme inline {
   --font-inter: 'Inter', sans-serif;
   --font-cairo: 'Cairo', sans-serif;

   --color-neutral-0: #ffffff;
   --color-neutral-100: #f9f9f9;
   --color-neutral-200: #ededed;
   --color-neutral-500: #9c9c9c;
   --color-neutral-550: #b2b3b9;
   --color-neutral-600: #6c6c6c;
   --color-neutral-900: #232323;

   --color-primary-600: #242edb;
   --color-primary-500: #367aff;

   --color-danger-500: #dd3a3a;

   --background-image-modal-overlay-fade: linear-gradient(
      180deg,
      rgba(35, 35, 35, 0.03) 0%,
      rgba(35, 35, 35, 0) 50%
   );
}

@layer components {
   .border-gradient {
      position: relative;
      border-radius: 1.5rem;
   }

   .border-gradient::before {
      z-index: 0;
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(
         180deg,
         #ededed 0%,
         rgba(237, 237, 237, 0) 100%
      );
      -webkit-mask:
         linear-gradient(white, white) content-box,
         linear-gradient(white, white);
      mask:
         linear-gradient(white, white) content-box,
         linear-gradient(white, white);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
   }
}

body {
   margin: 0;
   min-width: 375px;
   min-height: 100vh;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: var(--font-inter);
}

* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}
